@font-face {
    font-family : "Inter";
    src         : url("../fonts/Inter-Regular.ttf") format("ttf");
    font-weight : 400;
    font-display: swap;
}

@font-face {
    font-family : "Inter";
    src         : url("../fonts/Inter-SemiBold.ttf") format("ttf");
    font-weight : 600;
    font-display: swap;
}

@font-face {
    font-family : "Inter";
    src         : url("../fonts/Inter-Bold.ttf") format("ttf");
    font-weight : 700;
    font-display: swap;
}

@font-face {
    font-family : "Inter";
    src         : url("../fonts/Inter-ExtraBold.ttf") format("ttf");
    font-weight : 800;
    font-display: swap;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    font-family: Inter, serif;
    font-weight: 400;
}

body {
    background-color: #F6F6F6;
}

.wrapper {
    width         : 1300px;
    display       : flex;
    flex-direction: column;
    margin        : 0 auto;
    height        : 100%;
}

.header {

    display           : flex;
    flex-direction    : column;
    justify-content   : flex-start;
    align-items       : center;
    width             : 100%;
    // height         : 200px;
    font-size         : 14px;

    &>span {
        width: 100%;
    }

    .header_arrow {
        width : 5px;
        height: 5px;
        cursor: pointer;
    }

    &_mainInfo {
        width           : 100%;
        height          : 80px;
        background-color: #1A1A25;
        flex-shrink     : 0;
        border-bottom   : 0.5px solid rgba(132, 142, 164, 0.5);

        .wrapper {
            flex-direction : row;
            justify-content: center;
            align-items    : center;
            padding        : 25px 0 20px 0;

        }

        &_logo {
            width       : 280px;
            height      : 30px;
            margin-right: 50px;
        }

        &_city {
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
            flex-grow      : 1;
            cursor         : pointer;

            &_choise {
                color       : #858FA4;
                margin-right: 10px;
            }
        }

        &_dealersAndPartners {
            display        : flex;
            justify-content: flex-start;
            width          : 290px;
            border-right   : 0.5px solid rgba(132, 142, 164, 0.5);

            &_dealers {
                border      : none;
                background  : none;
                color       : #858FA4;
                margin-right: 30px;
                cursor      : pointer;
            }

            &_partners {
                background-color: #384255;
                border          : none;
                width           : 140px;
                height          : 35px;
                color           : #858FA4;
                font-weight     : 700;
                border-radius   : 5px;
                color           : #F6F6F6;
                cursor          : pointer;
            }
        }

        &_call {
            display     : flex;
            margin-left : 30px;
            margin-right: 30px;
            height      : 100%;
            align-items : center;
            border-right: 0.5px solid rgba(132, 142, 164, 0.5);

            &_tel {
                text-decoration: none;
                color          : #FFFFFF;
                margin-right   : 5px;
                white-space    : nowrap;
            }

            &_cityAndArrow {
                display     : flex;
                align-items : center;
                margin-right: 25px;

                &_city {
                    color       : #909CB5;
                    margin-right: 5px;
                    cursor      : pointer;
                }
            }

            &_btn {
                border      : none;
                outline     : none;
                background  : none;
                color       : #F53B49;
                margin-right: 30px;
                cursor      : pointer;
            }
        }

        &_entrance {
            display: flex;

            &_btn {
                border      : none;
                outline     : none;
                background  : none;
                color       : #FFFFFF;
                margin-right: 15px;
                cursor      : pointer;
            }

            &_logo {
                width : 20px;
                height: 20px;
            }
        }
    }

    &_menu {
        width           : 100%;
        height          : 80px;
        background-color: #1A1A25;
        flex-shrink     : 0;

        .wrapper {
            flex-direction : row;
            justify-content: flex-start;
            align-items    : center;
            padding        : 15px 0;
        }

        &_catalog {
            width           : 125px;
            height          : 50px;
            background-color: #F53B49;
            border          : none;
            outline         : none;
            border-radius   : 5px;
            display         : flex;
            justify-content : center;
            align-items     : center;
            color           : #FFFFFF;
            font-weight     : 700;
            padding         : 15px 20px;
            margin-right    : 50px;
            line-height     : 1px;
            cursor          : pointer;

            &_logo {
                width       : 15px;
                height      : 15px;
                margin-right: 10px;
            }
        }

        &_search {
            width       : 20px;
            height      : 20px;
            background  : none;
            border      : none;
            outline     : none;
            margin-right: 30px;
            cursor      : pointer;
        }

        &_nav {
            border-left    : 0.5px solid rgba(132, 142, 164, 0.5);
            padding-left   : 50px;
            height         : 100%;
            display        : flex;
            align-items    : center;
            justify-content: flex-start;
            white-space    : nowrap;
            flex-grow      : 1;

            &_item {
                text-decoration: none;
                color          : #FFFFFF;
                margin-right   : 35px;

                &:last-child {
                    margin-right: 180px;
                }
            }

        }

        &_buttons {
            display: flex;

            &_compare {
                position    : relative;
                width       : 40px;
                height      : 30px;
                display     : flex;
                align-items : flex-end;
                margin-right: 30px;

                &_logo {
                    width : 17px;
                    height: 17px;
                    cursor: pointer;
                }

                &_notice {
                    position        : absolute;
                    top             : 7px;
                    right           : 10px;
                    background-color: #F53B49;
                    border-radius   : 50%;
                    color           : #FFFFFF;
                    font-size       : 10px;
                    padding         : 4px;
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    width           : 16px;
                    height          : 16px;
                    outline         : 2px solid #1A1A25;
                }
            }

            &_heart {
                position    : relative;
                width       : 40px;
                height      : 30px;
                display     : flex;
                align-items : flex-end;
                margin-right: 30px;

                &_logo {
                    width : 25px;
                    height: 20px;
                    cursor: pointer;
                }

                &_notice {
                    position        : absolute;
                    top             : 7px;
                    right           : 6px;
                    background-color: #F53B49;
                    border-radius   : 50%;
                    color           : #FFFFFF;
                    font-size       : 10px;
                    padding         : 4px;
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    width           : 16px;
                    height          : 16px;
                    outline         : 2px solid #1A1A25;
                }
            }

            &_basket {
                position   : relative;
                width      : 40px;
                height     : 30px;
                display    : flex;
                align-items: flex-end;

                &_logo {
                    width : 20px;
                    height: 25px;
                    cursor: pointer;
                }

                &_notice {
                    position        : absolute;
                    top             : 7px;
                    right           : 8px;
                    background-color: #F53B49;
                    border-radius   : 50%;
                    color           : #FFFFFF;
                    font-size       : 10px;
                    padding         : 4px;
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    width           : 16px;
                    height          : 16px;
                    outline         : 2px solid #1A1A25;
                }
            }
        }
    }

    &_tabs {
        width           : 100%;
        height          : 45px;
        background-color: #2A2C38;
        flex-shrink     : 0;

        .wrapper {
            flex-direction : row;
            justify-content: flex-start;
            align-items    : center;
            padding        : 15px 0;
        }

        &_home {
            color       : #ffffffbd;
            background  : none;
            border      : none;
            outline     : none;
            font-weight : 700;
            height      : 100%;
            border-right: 0.5px solid rgba(132, 142, 164, 0.5);

            margin-right: 20px;
            padding     : 0 20px 15px 0;
            cursor      : pointer;

            &.active,
            &:hover {
                color: #FFFFFF;

                &:after {
                    content         : '';
                    display         : block;
                    width           : 100%;
                    height          : 2px;
                    background-color: #F53B49;
                }
            }
        }

        &_fitnessClub {
            color      : #ffffffbd;
            background : none;
            border     : none;
            outline    : none;
            font-weight: 700;
            height     : 100%;
            padding    : 0 0 15px 0;
            cursor     : pointer;

            &.active,
            &:hover {
                color: #FFFFFF;

                &::after {
                    content         : '';
                    display         : block;
                    width           : 100%;
                    height          : 2px;
                    background-color: #F53B49;
                }
            }
        }
    }
}

.breadcrumbs {
    height       : 80px;
    width        : 100%;
    display      : flex;
    padding-top  : 60px;
    margin-bottom: 30px;

    &_logo {
        width       : 15px;
        height      : 15px;
        margin-right: 10px;
    }

    &_item {
        color       : #384255a6;
        margin-right: 10px;

        &::after {
            content    : '»';
            margin-left: 10px;
        }

        &:last-child {
            margin-right: 0;

            &::after {
                content: none;
            }
        }
    }
}

.main_title {
    color      : #1A1A25;
    font-size  : 38px;
    font-weight: 800;
    margin     : 0 0 50px 0;
}

.banner {
    padding         : 45px 0 70px 65px;
    width           : 100%;
    height          : 400px;
    background-image: url(../img/treadmill.png);
    border-radius   : 5px;
    margin-bottom   : 50px;
    background-size : 100% 100%;

    &_logo {
        width        : 150px;
        height       : 90px;
        margin-bottom: 15px;
    }

    &_title {
        font-size    : 32px;
        color        : #FFFFFF;
        margin-bottom: 50px;

        >div {
            color         : #F53B49;
            text-transform: uppercase;
        }
    }

    &_button {
        width           : 120px;
        height          : 55px;
        background-color: #F53B49;
        border          : none;
        outline         : none;
        color           : #FFFFFF;
        border-radius   : 5px;
        font-weight     : 700;
        cursor          : pointer;
    }
}

.main_range {
    display      : flex;
    margin-bottom: 30px;

    &_btn {
        width       : 910px;
        height      : 80px;
        margin-right: 90px;

        &_item {
            background-color: #909cb550;
            color           : #384255;
            border          : none;
            outline         : none;
            padding         : 10px;
            margin-right    : 10px;
            border-radius   : 5px;
            margin-bottom   : 10px;
            font-weight     : 700;
            font-size       : 14px;
            cursor          : pointer;
            // height: 35px;

            &.active,
            &:hover {
                background-color: #F53B49;
                color           : #FFFFFF;
            }
        }
    }

    &_statistics {
        display    : flex;
        height     : 25px;
        align-items: center;

        &_btn {

            background-image   : url(../img/statistics.svg);
            background-position: center;
            width              : 25px;
            height             : 25px;
            border             : none;
            outline            : none;
            cursor             : pointer;
            background-color   : #F6F6F6;
        }

        &_item {
            font-weight : 700;
            font-size   : 14px;
            color       : #384255;
            opacity     : 0.5;
            white-space : nowrap;
            margin-right: 10px;

            &.active,
            &:hover {
                opacity: 1;
                cursor : pointer;
            }
        }
    }
}

.main_container {
    display      : flex;
    margin-bottom: 120px;

    &_list {
        display              : grid;
        grid-template-columns: repeat(4, 250px);
        gap                  : 20px;
        border-right         : 1px solid #858fa438;
        padding-right        : 30px;

        &_item {
            display         : flex;
            flex-direction  : column;
            position        : relative;
            background-color: #fff;

            &_img {
                width : 100%;
                height: auto;
            }

            &_percent {
                width           : 35px;
                height          : 35px;
                border-radius   : 50%;
                background-color: #F53B49;
                display         : flex;
                align-items     : center;
                justify-content : center;
                padding         : 10px;
                position        : absolute;
                z-index         : 1;


                &_img {
                    width : 15px;
                    height: 15px;
                }
            }

            &_like {
                width           : 35px;
                height          : 35px;
                border-radius   : 50%;
                background-color: #4B7EE8;
                display         : flex;
                align-items     : center;
                justify-content : center;
                padding         : 10px;
                position        : absolute;
                left            : 24px;
                z-index         : 2;

                &_img {
                    width : 15px;
                    height: 15px;
                }
            }

            &_new {
                width           : 35px;
                height          : 35px;
                border-radius   : 50%;
                background-color: #2FC509;
                display         : flex;
                align-items     : center;
                justify-content : center;
                padding         : 10px;
                position        : absolute;
                left            : 49px;
                z-index         : 3;

                &_img {
                    width : 25px;
                    height: 15px;
                }
            }

            &_statistics {

                width   : 15px;
                height  : 15px;
                position: absolute;
                top     : 4px;
                right   : 43px;

            }

            &_heart {
                position: absolute;
                right   : 15px;
                top     : 4px;
                width   : 20px;
                height  : 15px;
            }

            &_info {
                padding  : 25px 20px;
                flex-grow: 1;

                &_presence {
                    color          : #4B7EE8;
                    font-size      : 14px;
                    display        : flex;
                    align-items    : center;
                    justify-content: space-between;

                    span {
                        color       : #2FC509;
                        margin-right: 5px;
                    }

                    &_points {
                        width       : 25px;
                        height      : 10px;
                        margin-right: 10px;
                    }
                }

                &_title {
                    font-size    : 18px;
                    font-weight  : 700;
                    margin-bottom: 5px;
                }

                &_item {
                    color: #384255;

                    span {
                        color: #909CB5;
                    }
                }


                &_rating {
                    color        : #909CB5;
                    margin-bottom: 15px;

                    &_img {
                        width: 65px;
                    }
                }

                &_buy {
                    display: flex;

                    &_price {
                        font-size  : 17px;
                        font-weight: 700;
                        width      : 120px;

                        span {
                            color          : #858FA4;
                            text-decoration: line-through;
                            font-size      : 15px;
                            font-weight    : 400;
                            display        : block;
                        }
                    }

                    &_btn {
                        width           : 100px;
                        height          : 45px;
                        background-color: #F53B49;
                        color           : #FFFFFF;
                        border          : none;
                        outline         : none;
                        border-radius   : 5px;
                        padding         : 10px;
                        display         : flex;
                        justify-content : center;
                        align-items     : center;
                        font-weight     : 700;
                        cursor          : pointer;
                        font-size       : 14px;
                        margin-left     : 10px;

                        &_img {
                            width       : 25px;
                            height      : 25px;
                            margin-right: 5px;
                        }
                    }
                }

            }


        }
    }

    &_pagination {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        margin-top     : 30px;

        &_text {
            color        : #F53B49;
            font-weight  : 700;
            margin-bottom: 20px;
        }

        &_container {
            display: flex;

            &_number {
                color          : #909CB5;
                margin-right   : 5px;
                font-weight    : 700;
                cursor         : pointer;
                width          : 25px;
                height         : 30px;
                border-radius  : 5px;
                display        : flex;
                justify-content: center;
                align-items    : center;


                &:last-child {
                    margin-right: 0;
                }

                &.active,
                &:hover {
                    color           : #1A1A25;
                    background-color: #fff;
                }
            }
        }
    }

    &_menu {
        width       : 210px;
        height      : 1010px;
        padding-left: 30px;


        &_manufacturer {
            padding-bottom: 20px;
            border-bottom : 1px solid #858fa438;

            &_title {
                color        : #384255;
                font-weight  : 700;
                margin-bottom: 10px;
            }
        }

        &_checkbox {
            display      : flex;
            align-items  : center;
            margin-bottom: 10px;

            label {
                display        : flex;
                align-items    : center;
                justify-content: center;
                color          : #384255c2;
                cursor         : pointer;

                &::before {
                    display            : block;
                    content            : '';
                    width              : 12px;
                    height             : 12px;
                    background-image   : url(../img/checkbox_inactive.svg);
                    background-size    : cover;
                    background-position: center;
                    margin-right       : 10px;
                }
            }

            input {
                display: none;
            }

            input:checked+label:before {
                background-image: url(../img/checkbox_active.svg);
            }
        }

        &_functional {
            padding-top   : 30px;
            padding-bottom: 20px;
            border-bottom : 1px solid #858fa438;

            &_title {

                color        : #384255;
                font-weight  : 700;
                margin-bottom: 10px;
            }
        }

        &_stock {
            padding-top   : 30px;
            padding-bottom: 20px;
            border-bottom : 1px solid #858fa438;

            &_title {
                color        : #384255;
                font-weight  : 700;
                margin-bottom: 10px;
            }
        }

        &_price {
            padding-top   : 30px;
            padding-bottom: 30px;
            border-bottom : 1px solid #858fa438;

            &_title {
                color        : #384255;
                font-weight  : 700;
                margin-bottom: 10px;
            }

            &_choise {
                display      : flex;
                margin-bottom: 20px;

                &_input {
                    width       : 75px;
                    height      : 30px;
                    margin-right: 5px;
                    cursor      : pointer;

                    &:last-child {
                        margin-right: 0;
                        margin-left : 5px;
                    }
                }

                &_img {}

            }

            &_img {
                width : 180px;
                height: 15px;
                cursor: pointer;
            }
        }

        &_cleaningBtn {
            color           : #F53B49;
            background-color: #fff;
            border          : 1px solid #F53B49;
            border-radius   : 5px;
            font-weight     : 700;
            width           : 110px;
            height          : 40px;
            padding         : 10px 20px;
            margin-top      : 30px;
            margin-bottom   : 30px;
            cursor          : pointer;
        }

        &_help {
            width           : 180px;
            height          : 105px;
            background-color: #1A1A25;
            padding         : 20px;
            border-radius   : 5px;

            &_title {
                color        : #fff;
                font-weight  : 700;
                margin-bottom: 10px;
                font-size    : 16px;
            }

            &_btn {
                background     : transparent;
                border         : none;
                outline        : none;
                color          : #fff;
                font-weight    : 600;
                cursor         : pointer;
                display        : flex;
                justify-content: center;
                align-items    : center;

                &_logo {
                    width      : 10px;
                    height     : 12px;
                    margin-left: 10px;
                }
            }
        }
    }
}

.main_carousel {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    height        : 415px;
    margin-bottom : 40px;

    &_title {
        color        : #1A1A25;
        font-size    : 30px;
        font-weight  : 700;
        margin-bottom: 30px;
    }

    &_wrapper {
        display        : flex;
        justify-content: space-between;

        &_item {
            width           : 210px;
            height          : 355px;
            background-color: #fff;

            &_img {
                width : 100%;
                height: 210px;
            }

            &_info {
                padding: 20px;

                &_title {
                    color        : #1A1A25;
                    font-size    : 14px;
                    margin-bottom: 10px;
                }

                &_rating {
                    display      : flex;
                    align-items  : center;
                    margin-bottom: 15px;
                    color        : #909CB5;
                    font-size    : 12px;

                    &_logo {
                        width      : 65px;
                        margin-left: 5px;
                    }
                }

                &_price {
                    font-weight: 700;
                    font-size  : 17px;
                }
            }
        }
    }
}

footer {
    background-color: #1A1A25;
}

.footer_info {
    display       : flex;
    padding-top   : 90px;
    padding-bottom: 30px;
    border-bottom : 0.5px solid rgba(132, 142, 164, 0.5);

    &_menu {
        display        : flex;
        flex-direction : row;
        align-items    : flex-start;
        justify-content: flex-start;

        &_item {
            display       : flex;
            flex-direction: column;
            width         : 210px;
            margin-right  : 30px;

            &_title {
                color        : #fff;
                margin-bottom: 30px;
                font-size    : 16px;

                &:first-child {
                    margin-bottom: 40px;
                }
            }

            &_link {
                color          : #858FA4;
                text-decoration: none;
                font-size      : 16px;
                margin-bottom  : 10px;

                &:hover {
                    color: #fff;
                }
            }

            span {
                color: #fff;
            }
        }
    }

    &_connection {
        display       : flex;
        flex-direction: column;

        &_btnSapscript {
            background-color: #858fa418;
            color           : #858FA4;
            border          : none;
            outline         : none;
            width           : 255px;
            height          : 48px;
            cursor          : pointer;
            padding         : 15px;
            border-radius   : 5px;
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            margin-bottom   : 50px;
            font-size       : 14px;

            &_logo {
                width : 20px;
                height: 20px;
            }
        }

        &_number {
            color          : #858FA4;
            font-size      : 16px;
            text-decoration: none;
            margin-bottom  : 10px;

        }

        .phone_wrapper {
            display       : flex;
            flex-direction: column;
        }

        &_btnCall,
        &_btnWrite {
            background     : transparent;
            color          : #fff;
            border         : none;
            width          : 115px;
            display        : flex;
            justify-content: flex-start;
            cursor         : pointer;
            font-size      : 14px;
            margin-bottom  : 25px;
        }

        &_email {
            color          : #858FA4;
            text-decoration: none;
            margin-bottom  : 10px;
        }

        &_btnWrite {
            margin-bottom: 40px;
        }

        &_link {
            color          : #4B7EE8;
            font-size      : 14px;
            margin-bottom  : 5px;
            text-decoration: none;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &_partnerWrapper {
            display: none;
        }


        .hiding {
            display: none;
        }
    }
}

.footer_line {
    display    : flex;
    padding    : 50px 0;
    align-items: center;
    width      : 100%;

    &_logo {
        display       : flex;
        flex-direction: column;
        margin-right  : 175px;

        &_img {
            width        : 275px;
            height       : 35px;
            margin-bottom: 15px;
        }

        &_txt {
            color    : #858FA4;
            font-size: 14px;
        }
    }

    &_social {
        margin-right: 130px;
        display     : flex;

        &_link {
            margin-right: 10px;

            &_img {
                width : 25px;
                height: 25px;
            }

        }

    }

    &_btnPartner {
        border          : none;
        background-color: #909cb57c;
        color           : #fff;
        margin-right    : 30px;
        cursor          : pointer;
        width           : 140px;
        height          : 35px;
        border-radius   : 5px;
        font-weight     : 700;
        display         : flex;
        justify-content : center;
        align-items     : center;
        padding         : 10px;
        white-space     : nowrap;

    }

    &_btnDealers {
        border         : 1px solid #858FA4;
        width          : 110px;
        height         : 35px;
        color          : #858FA4;
        background     : transparent;
        border-radius  : 5px;
        cursor         : pointer;
        font-weight    : 700;
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin-right   : 75px;
        padding        : 10px;
        white-space    : nowrap;
    }

    &_payment {
        display    : flex;
        align-items: center;

        &_visa {
            width       : 40px;
            height      : 40px;
            margin-right: 30px;
        }

        &_mastercard {
            width       : 40px;
            height      : 40px;
            margin-right: 30px;
        }

        &_symbol {
            width       : 30px;
            height      : 30px;
            margin-right: 30px;
        }

        &_paypal {
            width : 55px;
            height: 20px;
        }
    }
}

.modal {
    display         : none;
    position        : fixed;
    z-index         : 5;
    left            : 0;
    top             : 0;
    width           : 100%;
    height          : 100%;
    background-color: #1a1a257d;
    overflow        : auto;

    &_active {
        display: block;
    }

    &_content {
        background-color: #fff;
        width           : 600px;
        height          : 450px;
        padding         : 60px 40px 45px 45px;
        border-radius   : 5px;
        margin          : 150px auto 0 auto;
        position        : relative;
        display         : flex;
        flex-direction  : column;
        align-items     : flex-start;


        &_close {
            display         : block;
            background-image: url(../img/delete.svg);
            background-size : contain;
            width           : 15px;
            height          : 15px;
            position        : absolute;
            top             : 20px;
            right           : 20px;
            cursor          : pointer;
        }

        &_title {
            color        : #1A1A25;
            font-size    : 30px;
            font-weight  : 700;
            text-align   : center;
            width        : 100%;
            margin-bottom: 20px;
        }

        &_input {
            display       : flex;
            flex-direction: column;
            margin-bottom : 10px;
            width         : 100%;

            &_text {
                color        : #384255;
                font-size    : 16px;
                margin-bottom: 5px;

                &::after {
                    content    : '*';
                    color      : #F53B49;
                    margin-left: 5px;
                }
            }

            &_entry {
                background-color: #F6F6F6;
                height          : 50px;
                width           : 100%;
                border-radius   : 5px;
                border          : none;
                padding         : 15px 0 15px 10px;
                cursor          : pointer;
            }
        }

        &_text {
            text-align   : center;
            color        : #858FA4;
            font-size    : 14px;
            margin-bottom: 20px;
            line-height  : 140%;
            width        : 100%;

            span {
                color: #F53B49;
            }
        }

        &_btn {
            border          : none;
            outline         : none;
            background-color: #F53B49;
            color           : #fff;
            font-size       : 14px;
            font-weight     : 700;
            display         : flex;
            justify-content : center;
            align-items     : center;
            width           : 160px;
            height          : 40px;
            border-radius   : 3px;
            cursor          : pointer;
            align-self      : center;

        }
    }
}

@media screen and (max-width: 1300px) {
    .wrapper {
        width        : 100%;
        padding-left : 20px;
        padding-right: 20px;
    }

    .header {

        &_mainInfo {


            .wrapper {
                padding-left : 20px;
                padding-right: 20px;
            }
        }

        &_menu {

            .wrapper {
                padding-left   : 20px;
                padding-right  : 20px;
                justify-content: space-between;
            }

            &_nav {

                &_item {

                    &:last-child {
                        margin-right: 65px;
                    }
                }
            }
        }

        // .header_menu_nav_item:last-child {

        &_tabs {

            .wrapper {
                padding-left : 20px;
                padding-right: 20px;
            }
        }
    }

    .banner {
        background-repeat: no-repeat;
        height           : 330px;
        width            : 100%;

        &_logo {
            width : 130px;
            height: auto;
        }

        &_title {
            margin-bottom: 20px;
        }
    }

    .main {

        &_container {

            &_list {
                grid-template-columns: repeat(3, 280px);
            }
        }
    }

    .footer {
        &_info {
            justify-content: space-between;

            &_menu {

                &_item {
                    margin-right: 20px;
                    width       : 205px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        &_line {
            justify-content: space-between;

            &_logo {
                margin-right: 75px;
            }

            &_social {
                margin-right: 75px;

                &_link {
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }


}

@media screen and (max-width: 1199px) {
    .header {
        &>span {
            display        : flex;
            justify-content: space-between;
        }

        &_mainInfo {
            width : 50%;
            border: none;

            &_dealersAndPartners {
                display: none;
            }

            &_call {
                display: none;
            }

            &_entrance {
                display: none;
            }
        }

        &_menu {
            width: 50%;

            .wrapper {
                justify-content: flex-end;
            }

            &_catalog {
                display: none;
            }

            &_nav {
                display: none;
            }

            &_search {
                height       : 100%;
                border-right : 0.5px solid rgba(132, 142, 164, 0.5);
                padding-right: 45px;


            }

            &_buttons {
                height: 100%;

            }
        }
    }

    .breadcrumbs {
        padding-top: 40px;
        height     : auto;

        &_item {
            display: none;

            &:last-child {
                display: block;
            }
        }
    }

    .banner {
        height       : auto;
        margin-bottom: 20px;
        padding      : 30px 0 35px 40px;

        &_logo {

            width : 100px;
            height: 60px;
        }

        &_title {
            font-size: 21px;
        }

        &_button {
            width : 95px;
            height: 45px;
        }
    }

    .main {
        &_title {
            font-size    : 33px;
            margin-bottom: 35px;
        }

        &_range {
            margin-bottom : 20px;
            flex-direction: column;

            &_btn {
                margin-bottom: 20px;
                width        : 100%;
            }
        }

        &_container {
            &_list {
                grid-template-columns: repeat(3, 220px);
                padding              : 0 20px 0 0;

                &_item {

                    &_percent {
                        width : 25px;
                        height: 25px;

                        &_img {
                            width : 10px;
                            height: 10px;
                        }
                    }

                    &_like {
                        width : 25px;
                        height: 25px;
                        left  : 19px;

                        &_img {
                            width : 10px;
                            height: 10px;
                        }
                    }

                    &_new {
                        width : 25px;
                        height: 25px;
                        left  : 39px;

                        &_img {
                            width : 20px;
                            height: 10px;
                        }
                    }

                    &_info {
                        padding       : 15px 15px 20px 15px;
                        display       : flex;
                        flex-direction: column;

                        &_presence {
                            flex-direction: column;
                            align-items   : flex-start;
                            margin-bottom : 10px;

                            &>span::after {
                                content          : '';
                                background-image : url(../img/points.svg);
                                display          : inline-block;
                                background-repeat: no-repeat;
                                width            : 30px;
                                height           : 10px;
                                margin-left      : 5px;
                            }

                            &_points {
                                display: none;
                            }
                        }

                        &_title {
                            font-weight  : 400;
                            margin-bottom: 10px;
                            flex-grow    : 1;
                        }

                        &_item {
                            display: none;
                        }

                        &_rating {
                            margin-bottom: 10px;
                        }

                        &_buy {
                            width: 100%;

                            &_price {
                                width          : 100%;
                                display        : flex;
                                flex-direction : row;
                                justify-content: space-between;
                            }

                            &_btn {
                                display: none;
                            }
                        }
                    }
                }
            }

            &_menu {
                padding-left: 20px;

                &_help {
                    display: none;
                }
            }
        }
    }

    .footer {
        &_info {
            flex-direction: column;

            &_menu {
                justify-content: space-between;
                padding-bottom : 45px;
                border-bottom  : 0.5px solid rgba(132, 142, 164, 0.5);
                ;
            }

            &_connection {
                flex-direction : row;
                justify-content: space-between;
                margin-top     : 60px;

                .phone_wrapper,
                .email_wrapper {
                    display       : flex;
                    flex-direction: column;
                    width         : 205px;
                    order         : 1;
                }

                .link_wrapper {
                    display       : flex;
                    flex-direction: column;
                    order         : 4;
                }

                &_btnSapscript {
                    display: none;

                }

                .hiding {
                    display      : flex;
                    margin-bottom: 40px;
                    width        : 205px;
                    font-size    : 12px;

                    .footer_info_connection_btnSapscript_logo {
                        width : 15px;
                        height: 15px;
                    }
                }

                .display {
                    display: block;
                }

                &_link {
                    order  : 2;
                    display: none;
                }

                &_partnerWrapper {
                    display       : flex;
                    flex-direction: column;
                    order         : 3;
                    width         : 205px;
                }

            }
        }

        &_line {

            &_btnPartner {
                display: none;
            }

            &_btnDealers {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .banner {
        padding: 20px 40px;

        &_button {
            font-size: 14px;
            width    : 90px;
            height   : 40px;
        }
    }

    .main {

        &_container {

            &_list {
                grid-template-columns: repeat(3, 170px);

                &_item {

                    &_info {
                        &_presence {
                            font-size: 12px;

                            &>span {
                                display     : flex;
                                align-items : center;
                                justify-self: center;

                                &::after {
                                    width          : 20px;
                                    background-size: contain;
                                }
                            }
                        }

                        &_title {
                            font-size: 17px;
                        }

                        &_rating {
                            font-size: 14px;
                        }

                        &_buy {

                            &_price {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        &_info {

            &_menu {

                &_item {
                    width: 190px;
                }
            }

            &_connection {

                .phone_wrapper,
                .email_wrapper,
                &_partnerWrapper,
                .link_wrapper {
                    width: 190px;
                }

                .hiding {
                    width  : 180px;
                    padding: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 840px) {
    .header {

        &_mainInfo {
            height: 60px;

            &_logo {
                width : 235px;
                height: auto;
            }
        }

        &_menu {
            height: 60px;

            &_search {

                &_logo {
                    width : 15px;
                    height: 15px;
                }
            }

            &_buttons {

                &_compare {
                    margin-right: 10px;
                    width       : 35px;
                    align-items : center;

                    &_logo {
                        width : 13px;
                        height: 13px;
                    }

                    &_notice {
                        top: 0;
                    }

                }

                &_heart {
                    margin-right: 10px;
                    width       : 35px;
                    align-items : center;

                    &_logo {
                        width : 17px;
                        height: 14px;
                    }

                    &_notice {
                        top: 0;
                    }
                }

                &_basket {
                    width      : 35px;
                    align-items: center;

                    &_logo {

                        width : 14px;
                        height: 18px
                    }

                    &_notice {
                        top: 0;
                    }
                }
            }
        }
    }

    .banner {
        &_logo {
            width : 80px;
            height: auto;
        }
    }

    .main {

        &_container {

            &_list {
                grid-template-columns: repeat(3, 170px);
                gap                  : 10px;
            }

            &_menu {

                &_checkbox {

                    label {
                        font-size: 14px;
                    }
                }

                &_price {

                    &_choise {

                        &_input {
                            width: 65px;
                        }
                    }

                    &_img {
                        width: 155px;
                    }
                }
            }
        }
    }

    .footer {

        &_line {

            &_logo {

                &_img {
                    width : 215px;
                    height: auto;
                }

                &_txt {
                    font-size: 11px;
                }
            }

            &_social {
                margin-right: 45px;
            }
        }
    }
}

@media screen and (max-width: 750px) {

    .header {

        &_mainInfo {

            &_logo {
                width: 180px;
            }

            &_city {

                &_choise {
                    font-size: 12px;
                }
            }
        }

        &_tabs {
            height: 30px;

            .wrapper {
                padding-top   : 5px;
                padding-bottom: 5px;
            }

            &_home {
                font-size     : 12px;
                padding-bottom: 0;

            }

            &_fitnessClub {
                font-size     : 12px;
                padding-bottom: 0;
            }
        }
    }

    .banner {

        &_title {
            font-size: 19px;
        }

        &_button {
            width : 80px;
            height: 30px;
            font-size: 13px;
        }
    }

    .main {
        &_range {

            &_btn {

                &_item {
                    font-size: 13px;
                }
            }
            &_statistics {

                &_item {
                    font-size: 13px;
                }
            }
        }
        &_container {

            &_list {
                grid-template-columns: repeat(2, 210px);
            }
        }
    }
    .footer {

        &_info {

            &_menu {
                flex-wrap: wrap;
                &_item {
                    margin-right: 0;
                    width: 48%;
                    margin-bottom: 20px;
                }
            }
            &_connection {
                flex-wrap: wrap;
                .phone_wrapper,
                .email_wrapper,
                &_partnerWrapper,
                .link_wrapper {
                    width: 48%;
                }
            }
        }
        &_line {

            &_logo {

                &_img {
                    width: 190px;
                }
            }
            &_social {

                &_link {

                    &_img {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            &_payment {

                &_visa {
                    width: 35px;
                    height: 35px;
                    margin-right: 20px;
                }
                &_mastercard {
                    width: 35px;
                    height: 35px;
                    margin-right: 20px;
                }
                &_symbol {
                    width: 25px;
                    height: 25px;
                    margin-right: 20px;
                }
                &_paypal {
                    width: 50px;
                }
            }
        }
    }
}