@font-face {
    font-family : "Inter";
    src         : url("../fonts/Inter-Regular.ttf") format("ttf");
    font-weight : 400;
    font-display: swap;
}

@font-face {
    font-family : "Inter";
    src         : url("../fonts/Inter-SemiBold.ttf") format("ttf");
    font-weight : 600;
    font-display: swap;
}

@font-face {
    font-family : "Inter";
    src         : url("../fonts/Inter-Bold.ttf") format("ttf");
    font-weight : 700;
    font-display: swap;
}

@font-face {
    font-family : "Inter";
    src         : url("../fonts/Inter-ExtraBold.ttf") format("ttf");
    font-weight : 800;
    font-display: swap;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    font-family: Inter, serif;
    font-weight: 400;
}

.wrapper {
    width  : 1300px;
    display: flex;
    margin: 0 auto;
    height: 100%;
}

.header {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    height         : 200px;
    font-size: 14px;
 .header_arrow {
    width: 5px;
    height: 5px;
 }                   

    &_mainInfo {
        width: 100%;
        height: 80px;
        background-color: #1A1A25;
        flex-shrink: 0;
        .wrapper {
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
        }
        &_logo {
            width: 280px;
            height: 30px;
            margin-right: 50px;
        }
        &_city {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 200px;
            &_choise {
                color: #858FA4;
                margin-right: 10px;
            }
        }
        &_dealersAndPartners {
            display: flex;
            justify-content: flex-start;
            width: 290px;
            border-right: 0.5px solid #858FA4;
            &_dealers {
                border: none;
                background: none;
                color: #858FA4;
                margin-right: 30px;
            }
            &_partners {
                background-color: #384255;
                border: none;
                width: 140px;
                height: 35px;
                color: #858FA4;
                font-weight: 700;
                border-radius: 5px;
                color: #F6F6F6;
            }
        }
        &_call {
            display: flex;
            margin-left: 30px;
            &_tel {
                text-decoration: none;
                color: #FFFFFF;
                margin-right: 5px;
            }
            &_cityAndArrow {
                display: flex;
                align-items: center;
                margin-right: 9px;
                &_city {
                    color: #909CB5;
                    margin-right: 5px;
                }
            }
           &_btn {
            border: none;
            outline: none;
            background: none;
            color: #F53B49;
           }  
        }
    }
}